[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=UniversalControl
Comment=UC Server
Exec=/opt/uc/ucserver
StartupNotify=false
Terminal=false
Hidden=false

